<!doctype html>
<html>

<head>
  <title>BubiStats</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
</head>

<body>
  <div id="app">
    <b-navbar class="is-warning">
      <template #start v-if='isLoggedIn'>
        <b-navbar-item tag="router-link" :to="{ path: '/rides' }">
          Bubiutak
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/bikes' }">
          Bicajok
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/stations' }">
          Állomások
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/stats' }">
          Statisztikák
        </b-navbar-item>
      </template>

      <template #end v-if='!loading'>
        <b-navbar-item tag="router-link" :to="{ path: '/info' }">
          Info
        </b-navbar-item>

        <b-navbar-dropdown :label='user.email' v-if='isLoggedIn'>
          <b-navbar-item tag="div" >
            <div class="buttons has-text-right">
              <a class="button is-primary" @click='logout'>
                <strong>Kilépés</strong>
              </a>
            </div>
          </b-navbar-item>
        </b-navbar-dropdown>
        <b-navbar-item tag="div" v-else>
          <div class="buttons">
            <a class="button is-primary" @click='login'>
              <strong>Belépés</strong>
            </a>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>

    <router-view ref='mainview' v-if='!loading'></router-view>
  </div>
</body>

</html>
